@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
   Casa Matriz<br />
  Av. Decima km 6.5 Carretera a sacaba, 300 mts. al norte de la rotonda<br />
    <abbr title="Phone">:</abbr>
   Cbba-Bolivia
</address>

<address>
    <strong>Support:</strong>   <a href="http://femco.com.bo/">femco.com.bo</a><br />
    <strong>Marketing:</strong> <a href="http://femco.com.bo/">Cotisaciones@femco.com.bo</a>
</address>