@model Ecomerce.Models.User
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>E-Commerce</h1>
  
    <p class="lead">Femco es una empresa de desarrollo de Industria electro mecanica  100% boliviana. Ubicada en av.Villazon km 6.5 Camino a sacaba - cochabamba</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    @if (Model != null && !string.IsNullOrEmpty(Model.Company.Logo))
    {
        <img src="@Url.Content(Model.Company.Logo)" alt="Image" style="width:150px;height:100px;max-width: 100%; height: auto;" />
    }
</div>

<div class="row">
    <div class="col-md-4">
        <!-- Wide card with share menu button -->
        <style>
            .demo-card-wide.mdl-card {
                width: 350px;
            }

            .demo-card-wide > .mdl-card__title {
                color: #fff;
                height: 150px;
                background: url('../Content/Logos/butterfly.jpg') center / cover;
            }

            .demo-card-wide > .mdl-card__menu {
                color: #fff;
            }
        </style>

        <div class="demo-card-wide mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">Welcome</h2>
            </div>
            <div class="mdl-card__supporting-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Mauris sagittis pellentesque lacus eleifend lacinia...
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                    Get Started
                </a>
            </div>
            <div class="mdl-card__menu">
                <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                    <i class="material-icons">share</i>
                </button>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <!-- Wide card with share menu button -->
        <style>
            .demo-card-wide.mdl-card {
                width: 312px;
            }

            .demo-card-wide > .mdl-card__title {
                color: #fff;
                height: 150px;
                background: url('../Content/Logos/butterfly.jpg') center / cover;
            }

            .demo-card-wide > .mdl-card__menu {
                color: #fff;
            }
        </style>

        <div class="demo-card-wide mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">Welcome</h2>
            </div>
            <div class="mdl-card__supporting-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Mauris sagittis pellentesque lacus eleifend lacinia...
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                    Get Started
                </a>
            </div>
            <div class="mdl-card__menu">
                <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                    <i class="material-icons">share</i>
                </button>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <button id="demo-show-toast" class="mdl-button mdl-js-button mdl-button--raised" type="button">Show Toast</button>
        
    </div>
</div>